:root {
    --followed-bg: #444;
    --followed-color: #000;
}

.followed-title {
    text-align: center;
}
.followed-div {
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    position: fixed
    color: var(--primary-color);
    border: 1px solid #343a40;
    border-radius: .3rem;
}
.followed-btn {
    display: none;
}
.followed-img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    margin: auto;
}
.followed-img-container {
    padding: 0;
    padding-left: .5rem;
}
.followed-name-container {
    display: flex;
    align-items: center;
}
.followed-container {
  transition:.3s;
}
.followed-container>*{
  position: sticky;
  top: 2em;
}

@media screen and (max-width: 991px) {
    .followed-container>*{
      position: static;
    }

    .followed-container {
        background-color: var(--bg-color);
        padding: 0;
        color: var(--basic-color);
        border-right: 1px solid var(--basic-color);
    }
    .no-scroll {
        overflow: hidden;
    }
    .followed-container-shown {
        height: 100vh;
        position: fixed;
        z-index: 100;
        overflow-y: auto;
    }
    .followed-div {
        margin-right: 1em;
        margin-left: 1em;
        width: 15%;
        height: 80vh;
        overflow-y: auto;
        position: fixed;
        opacity: 0;
        padding: 0 !important;
        border: none;
    }
    .followed-div-shown {
        width: 100%;
        opacity: 1;
    }
    .followed-btn {
        background-color: var(--primary-color);
        color: var(--basic-color);
        display: block;
        padding: 0;
        border: 1px solid var(--basic-color);
        margin: auto;
        margin-top: 1em;
        min-width: 2em;
        width: auto;
    }
    .followed-btn-shown {
        margin-left: 1em;
        margin-bottom: 1em;
    }
    .followed-img-container {
        display: flex;
    }
}
