:root{
  --bg-color: #FFF ;
  --nav-bg-color: #343A40 ;
  --nav-font-color: #FFF;
}

[data-theme="dark-orange"] {
    --basic-color: #fff;
    --primary-color: #e67300;
    --accent-color: #1a8cff;
    --warning-color: #f00;
    --disabled-color: #555;
    --disabled-lighter-color: #777;
    --link-color: #eee;
    --bg-color: #252525;
    --contrast-color: #000;
    --bg-accent-color: #313131;
}
[data-theme="dark-green"] {
    --basic-color: #fff;
    --primary-color: #608000;
    --accent-color: #ace600;
    --warning-color: #f00;
    --disabled-color: #555;
    --disabled-lighter-color: #777;
    --link-color: #eee;
    --bg-color: #252525;
    --contrast-color: #000;
    --bg-accent-color: #313131;
}
[data-theme="dark-blue"] {
    --basic-color: #fff;
    --primary-color: #3366cc;
    --accent-color: #c065ff;
    --warning-color: #f00;
    --disabled-color: #555;
    --disabled-lighter-color: #777;
    --link-color: #eee;
    --bg-color: #252525;
    --contrast-color: #000;
    --bg-accent-color: #313131;
}

[data-theme="light-orange"] {
    --basic-color: #000;
    --primary-color: #e67300;
    --accent-color: #1a8cff;
    --warning-color: #f00;
    --disabled-color: #777;
    --disabled-lighter-color: #555;
    --link-color: #333;
    --bg-color: #fff;
    --contrast-color: #fff;
    --bg-accent-color: #eee;
}
[data-theme="light-green"] {
    --basic-color: #000;
    --primary-color: #608000;
    --accent-color: #08d5a5;
    --warning-color: #f00;
    --disabled-color: #777;
    --disabled-lighter-color: #555;
    --link-color: #333;
    --bg-color: #fff;
    --contrast-color: #fff;
    --bg-accent-color: #eee;
}
[data-theme="light-blue"] {
    --basic-color: #000;
    --primary-color: #3366cc;
    --accent-color: #c065ff;
    --warning-color: #f00;
    --disabled-color: #777;
    --disabled-lighter-color: #555;
    --link-color: #333;
    --bg-color: #fff;
    --contrast-color: #fff;
    --bg-accent-color: #eee;
}

.rect {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
}
.display-style {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none !important;
}
.centered-h {
    display: flex;
    justify-content: center;
}
.flex {
    display: flex;
}
.flex-c {
    display: flex;
    flex-direction: column;
}

.bg {
    background-color: var(--bg-color);
}
.basic {
    color: var(--basic-color);
}
.primary {
    color: var(--primary-color);
}
.accent {
    color: var(--accent-color);
}
.warning {
    color: var(--warning-color);
}
.disabled {
    color: var(--disabled-color);
}
.link {
    color: var(--link-color);
}

.bg-primary-color {
    background-color: var(--primary-color);
}
.bg-accent {
    background-color: var(--accent-color);
}
.bg-warning {
    background-color: var(--warning-color);
}

.raised-basic, .raised-primary, .raised-accent, .raised-warning, .raised-link, .raised-disabled {
    border-radius: 10px;
    padding: .7em;
    margin: 1em;
}
.raised-basic-flat, .raised-primary-flat, .raised-accent-flat, .raised-warning-flat, .raised-link-flat, .raised-disabled-flat {
    padding: .7em;
    margin: 0;
    border-radius: 0px;
}
.raised-basic {
    color: var(--basic-color);
}
.raised-primary {
    background-color: var(--primary-color);
    color: var(--contrast-color);
}
.raised-accent {
    background-color: var(--accent-color);
    color: var(--contrast-color);
}
.raised-warning {
    background-color: var(--warning-color);
    color: var(--contrast-color);
}
.raised-disabled {
    background-color: var(--disabled-color);
    color: var(--disabled-lighter-color);
}
.raised-link {
    color: var(--link-color);
}

.stroked-basic, .stroked-link, .stroked-primary, .stroked-accent, .stroked-warning, .stroked-disabled, .stroked-link {
    padding: 1em;
    border-width: thin;
    border-style: solid;
    border-radius: 10px;
}
.stroked-basic {
    color: var(--basic-color);
    border-color: var(--basic-color);
}
.stroked-primary {
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.stroked-accent {
    border-color: var(--accent-color);
    color: var(--accent-color);
}
.stroked-warning {
    border-color: var(--warning-color);
    color: var(--warning-color);
}
.stroked-disabled {
    border-color: var(--disabled-color);
    color: var(--disabled-color);
}
.stroked-link {
    border-color: var(--link-color);
    color: var(--link-color);
}
.stroked-basic:hover, .stroked-link:hover, .stroked-primary:hover, .stroked-accent:hover, .stroked-warning:hover, .stroked-disabled:hover, .stroked-link:hover {
    color: var(--basic-color);
}

.background-primary {
    background-color: var(--primary-color);
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  width: 16em;
}
.theme-switch-wrapper span {
  margin-left: 10px;
  font-size: 1rem;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  width: 60px;
}
.theme-switch input {
  display:none;
}
.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}
input:checked + .slider {
  background-color: #66bb6a;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

html {
    height: 100%;
}
/*html {
    font-size: 1.2vw;
}
@media screen and (max-width: 775px) {
    html {
        font-size: 1.5vw;
    }
}
@media screen and (max-width: 690px) {
    html {
        font-size: 2vw;
    }
}*/

body{
  background-color: var(--bg-color) ;
}

nav{
  background-color: var(--nav-bg-color) ;

}

  nav input{
    border: none ;
  }

  nav a{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
  }
  nav a .disabled{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
  }

.noselect{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

footer{
  background-color: var(--bg-color);

  position: fixed;
  width: 100%;
  bottom: 0;
}


/* TEST -------------------------------------------------------------------- */
.context-menu {
  display: none;
  position: absolute;
  z-index: 100;
}

.context-menu--active {
  display: block;
}
.context-menu__items {
    list-style: none;
}
.context-menu__link {
    margin: auto;
    width: 100%;
}
