.navbar-nav{
  z-index: 10 ;
}
.dropdown:hover .dropdown-menu{
  display:block;
  z-index: 5 ;
  animation: 0.5s forwards drop_down ;
  overflow-y: auto;
  max-height: 15em;
}
@keyframes drop_down{
  0% {
    opacity: 0 ;
  }
  100% {
    opacity: 1 ;
  }
}
.navbar-icon {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    margin: auto;
}
