.user-navbar {
    padding: .5em;
    display: flex;
    justify-content: space-around;
}
.user-navbar-btn {
    background-color: transparent;
    color: #fff;
}
.user-navbar-btn-active {
    background-color: #fff;
    color: #000;
}
.user-navbar-btn:hover {
    color: #bbb;
}
.user-stats-container {
    display: flex;
    text-align: center;
}
.user-centered {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}
.user-img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    margin: auto;
}
.user-desc {
    background-color: var(--bg-accent-color);
    height: 9em;
    overflow: hidden;
}
.user-next-desc {
    margin-bottom: 1em;
}
.user-next-button {
    color: #0af;
    width: auto;
}
.user-next-button:hover {
    color: #05a;
    text-decoration: underline;
    cursor: pointer;
}
.user-text-more {
    height: 100%;
}
.user-latest {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.user-video-line {
    display: flex;
    overflow-x: auto;
}
.user-followed {
    background-color: #444;
    color: #ddd;
}
.user-follow-btn {
    height: 3em;
}
.user-hidden {
    display: none;
}
